<!DOCTYPE html>
<html>
<head>
    <title>Add Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-bg">

<div class="center-container">
    <div class="white-card">

        <h2>Add Students</h2>

        <form method="POST">
            <label>Start Roll Number</label>
            <input type="text" name="start_roll" required placeholder="starting rollno" required><br><br>
            <label>End Roll Number</label>
            <input type="text" name="end_roll" required placeholder="ending rollno" required><br><br>
            
            <label>Exclude Roll Numbers</label>
            <input type="text" name="exclude" placeholder="exclude numbers" required><br><br>

            <label>Course</label>
            <select name="course" required>
                <option value="">select course</option>
                <option value="B.Tech">B.Tech</option>
                <option value="M.Tech">M.Tech</option>
                <option value="MBA">MBA</option>
                 <option value="Diploma">Diploma</option>
            </select><br><br>
            <label>Year</label>
            <select name="year" required>
                <option>select year</option>
                <option>1st Year</option>
                <option>2nd Year</option>
                <option>3rd Year</option>
                <option>4th Year</option>
            </select><br><br>
            <label>Branch</label>
            <select name="branch" required>
               <option>select branch</option>
                <option>CSE</option>
                <option>AI&ML</option>
                <option>AI&DS</option>
                <option>ECE</option>
                
            </select><br><br>
            <label>Section</label>
            <select name="section" required>
                <option>select section</option>
                <option>A</option>
                <option>B</option>
            </select><br><br>
            <button type="submit">Add Students</button><br>
        </form>

        <a href="/attendance" class="back-link">⬅ Back</a>

    </div>
</div>

</body>
</html>
