 <!DOCTYPE html>
<html>
<head>
    <title>Attendance Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-bg">

<div class="center-container">
    <div class="white-card">

        <h2>Attendance Management</h2>

        <a href="/add-student" class="menu-link">➕ Add Student</a>
        <a href="/take-attendance" class="menu-link">📝 Take Attendance</a>
        <a href="/monthly-attendance" class="menu-link">📅 Monthly Attendance</a>

        <a href="/faculty_dashboard" class="back-link">⬅ Back to Dashboard</a>

    </div>
</div>

</body>
</html>
