<!DOCTYPE html>
<html>
<head>
    <title>Fees Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dashboard-bg">

<div class="center-container">
    <div class="white-card">
        <h2>Fees Management</h2>

        <a class="box-link" href="/fees/add-student">➕ Add Student (Fees)</a>
        <a class="box-link" href="/fees/check">💰 Check / Update Fees</a>

        <a class="back-link" href="/faculty_dashboard">⬅ Back</a>
    </div>
</div>

</body>
</html>