<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-bg">

<!-- HEADER -->
<header class="header">
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
    <div class="header-text">
        <h1>K.L.M. COLLEGE OF ENGINEERING FOR WOMEN</h1>
        <p>(Approved by AICTE | Affiliated to JNTUA)</p>
    </div>
</header>

<!-- REGISTER SECTION -->
<div class="login-container">
    <form class="login-box" method="POST" action="/register">
        <h2 class="login-title">New User Registration</h2>

        <input type="text" name="name" placeholder="Full Name" required>

        <input type="email" name="email" placeholder="Email Address" required>

        <input type="password" name="password" placeholder="Password" required>

        <select name="role" required>
             <option value="">Select Role</option>
            <option value="Student">Student</option>
           <option value="Faculty">Faculty</option>
        </select>

        <button type="submit">Register</button>

        <p style="text-align:center; margin-top:15px;">
            Already have an account? 
            <a href="/" style="color:#0b22ff; font-weight:bold; text-decoration:none;">
                Login Here
            </a>
        </p>

    </form>
</div>

</body>
</html>
