<!DOCTYPE html>
<html>
<head>
    <title>Time Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-bg">

<div class="center-container">
    <div class="white-card">

        <h2 style="text-align:center;">Time Table Options</h2>

        <a href="/class-timetable" class="menu-link">📘 Class Time Table</a>
        <a href="/exam-timetable" class="menu-link">📝 Exam Time Table</a>

        <br><br>
        <a href="/faculty_dashboard" class="back-link">⬅ Back to Dashboard</a>

    </div>
</div>

</body>
</html>
